@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');
/*2022 Hex Codes:
White: #FFF0EA
Red: #EB677B
Orange: #F79586
Yellow: #FAC3A2
Blue: #86A8BD
Green: #4F7C8F
Background (Dark blue): #332557
Darker blue: #22193a
Shadow (Darkest blue): #160f27
*/
html {
    height: 100%;
}
body {
    font-family: 'VT323', monospace;
    margin: 0;
    /* Gross and dirty way to fix the bug that causes a sliver of pixels to the right (causing horizontal scroll bar to appear) */
    /* overflow-x: hidden; */
}
ul  {
    list-style-type: none;
}

.button {
  background-color: #22193a;
  border: none;
  color: #FFF0EA;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
}

.background {
    /* Weird aspect rations ruin this img */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}
nav > p {
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5vh;
    right: 4vw;
    /* Next 5 lines center "HocoHacks" in the nav */
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 1;
    text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
    letter-spacing: 0.125em;
    animation-duration: 0.01s;
    animation-name: textflicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
nav > ul {
    display: inline-block;
    list-style-type: none;
    padding: 0vh 3vw;
}
nav > ul > li {
    border: 1px solid transparent;
    border-radius: 1vh;
    float: left;
    padding: 1vh 1.2vw;
    margin-right: 10px;
}

nav > ul > li:hover {
    border-radius: 1.5vh;
    transition-duration: 0.5s;
}
nav > ul > li > a {
    font-size: 3vh;
    text-decoration: none;
}
.navTransparent {
    transition-duration: 0.5s;
    background-color: transparent;
}

.navTransparent > ul > li:hover, .navTransparent > ul > li.nav-reg {
    transition-duration: 0.5s;
    border: 1px solid #FFF0EA;
}
.navTransparent > ul > li > a {
    transition-duration: 0.5s;
}
.navTransparent > p {
    transition-duration: 0.5s;
    color: #FFF0EA;
}
.navColor {
    transition-duration: 0.5s;
    background-color: #22193a;
}
.navColor > ul > li:hover, .navColor > ul > li.nav-reg {
    transition-duration: 0.5s;
    border: 1px solid #FFF0EA;
}
.navColor > ul > li > a {
    transition-duration: 0.5s;
}
.navColor > ul > li > #about-button {
  color: #EB677B;
}
.navColor > ul > li > #schedule-button {
  color: #86A8BD;
}
.navColor > ul > li > #faq-button {
  color: #FAC3A2;
}
.navColor > ul > li > #sponsors-button {
  color: #F79586;
}
.navColor > ul > li > #team-button {
  color: #4F7C8F;
}
.navColor > ul > li > #register-button-nav {
  color: #EB677B;
}
.navColor > ul > li > #discord-button-nav {
  color: #86A8BD;
}
.navColor > p {
    transition-duration: 0.5s;
    color: #FFF0EA;
}
.footer-white > a > span{
  transition-duration: 0.5s;
  color: #FFF0EA;
}
.footer-colored > a > span{
  transition-duration: 0.5s;
}
.footer-colored > #footer-envelope > span{
  color: #EB677B;
}
.footer-colored > #footer-github > span{
  color: #86A8BD;
}
.footer-colored > #footer-twitter > span{
  color: #FAC3A2;
}
.footer-colored > #footer-instagram > span{
  color: #F79586;
}
footer {
    /*margin: 3vh 2vw;*/
    margin: 1%;
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    user-select: none;
}
footer > a > img {
    height: auto;
    width: 6vh;
    margin: 0vh 0.2vw;
}
footer > a:hover {
    animation: blink 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1,jump-none);
}
.flexbox    {
    margin: 0px auto;
    padding: 0px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.flex-img   {
    width: 40%;
}
.flex-info  {
    width: 60%;
}
.flex-info > a {
  margin-right: 10px
}
#blackbox {
    background-color:#22193a;
    padding: 2vh;
    border-radius: 7px;
    box-shadow: 10px 10px #160f27;
    transform: translate(-20px, 0px);
}
header {
    width: 100%;
    background: linear-gradient(#2c292d00,#332557), url('../media/old_header.jpg');
    background-attachment: scroll;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position:static;
}
.logo-normal {
    width: 100%;
    float: right;
}
header p {
    font-family: 'Press Start 2P', cursive;
    font-size: 3.2vh;
    color: #FFF0EA;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    line-height: 1;
    text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
    letter-spacing: 0.125em;
    animation-duration: 0.01s;
    animation-name: textflicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#register-button-header{
    font-size: 4vh;
    transition-duration: 0.5s;
}
#discord-button-header{
    font-size: 4vh;
    transition-duration: 0.5s;
}
.main-container {
    padding-top: 3vh;
    height: 100vh;
    width: 70%;
}
.main-container li  {
    padding: 2.3vw;
}
/* Copy-pasta from old C10 HAX site */
.body-container {
    /*background-color: #2c292d;*/
    display: flex;
    flex-direction: column;
}
.body-container > div   {
    padding-bottom: 3.5%;
}
.colored   {
    background-color: #332557;
}
.colored > h1   {
    color: #F79586;
}
h1 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 3vh;
    padding-top: 3.5%;
}
p {
    font-size: 3.5vh;
    color: #FFF0EA;
}
table {
    margin: auto;
    font-size: 1.15vw;
    color: #FFF0EA;
    border: none;
    width: 100%;
}
td, th {
    border: 1px solid #FFF0EA;
    text-align: left;
    padding: .5vw;
}
tr:nth-child(even) {
    background-color: #FFF0EA;
}
.about-content  {
    width: 95%;
    display: flex;
    align-content: center;
    align-items: center;
    margin: 0px auto;
}
.about-content img  {
    width: 100%;
    border-radius: 25px;
}
.about-content li   {
    padding: 2vw;
}
.image-box {
    height: 100%;
    width: 40%;
}
#schedule-header-main{
  color: #FAC3A2;
  padding-bottom: 5vh;
}
#schedule-header-breakout{
  color: #EB677B;
}
.team {
    margin-top: 6vh;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    width: 100%;
    text-align: center;
}
.team a:link{
	color: #FFF0EA;
}
.about-header2-1{
  color: #EB677B;
}
.about-header2-2{
  color: #86A8BD;
}
.about-header2-3{
  color: #FAC3A2;
}
.about-header2-4{
  color: #F79586;
}
.about-header2-5{
  color: #4F7C8F;
}

.team a:visited{
	color: #FFF0EA;
}
.team > div {
    width: 20vw;
    margin: 1vw;
}
.team > div > img {
    border-radius: 50%;
    object-fit: cover;
    height: 35%;
    width: 70%;
}
.team > div > h2 {
    font-size: 3.8vh;
}
.team > div > p {
    font-size: 2.8vh;
    color: #FFF0EA;
}
.faq-container > h1 {
    width: 100%;
}
.faq > div {
    padding: .5vw;
}
.faq > div > p {
    font-size: 1.5vw;
}
.faq {
	display: block;
	width: 48%;
    margin: 1%;
}
.faq-container  {
    display: inline-flex;
    flex-wrap: wrap;
    width: calc(100% - 250px);
	margin: auto;
    padding-bottom: 5vh;
}
.accordion {
    font-family: 'VT323', monospace;
    margin-top: 0vh;
    background-color: #22193a;
    color: #FAC3A2;
    cursor: pointer;
    padding: 18px;
    border-radius: 6px;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 200%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    font-weight:500;
}
.active, .accordion:hover {
    color: #86A8BD;
}
.accordion:after {
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.active:after{
    content: "\2212";
    color: #FFF0EA;
}
.panel{
    background-color: #332557;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    -o-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
    font-weight:300;
}
.faq-a-email{
  color: #F79586;
}
#faq-a-schedule{
  color: #86A8BD;
}
.panel a{
    text-decoration: none;
}
.panel a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.sponsors-plat   {
    text-align: center;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0px;
    padding-bottom: 5vh;
}
.sponsors-plat > li {
    padding: .8vh 1vw;
    flex-basis: 25%;
}
.sponsors-plat a:hover {
    cursor: pointer;
}
.sponsors-plat img:hover {
    cursor: pointer;
}
.sponsors-plat img {
    height: 50%;
    width: 50%;
}
#sponsors-plat-label {
    color: rgb(189, 184, 233);
}
.sponsors-gold   {
    text-align: center;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0px;
    padding-bottom: 5vh;
}
.sponsors-gold > li {
    padding: .8vh 1vw;
    flex-basis: 25%;
}
.sponsors-gold a:hover {
    cursor: pointer;
}
.sponsors-gold img:hover {
    cursor: pointer;
}
.sponsors-gold img {
    height: 20%;
    width: 20%;
}
#sponsors-gold-label  {
    color: rgb(243, 179, 60);
}
.sponsors-silver   {
    text-align: center;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0px;
    padding-bottom: 5vh;
}
.sponsors-silver > li {
    padding: .8vh 1vw;
    flex-basis: 25%;
}
.sponsors-silver a:hover {
    cursor: pointer;
}
.sponsors-silver img:hover {
    cursor: pointer;
}
.sponsors-silver img {
    height: 20%;
    width: 20%;
}
#sponsors-silver-label  {
    color: rgb(192,192,192);
}
.sponsors-bronze   {
    text-align: center;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0px;
    padding-bottom: 5vh;
}
.sponsors-bronze > li {
    padding: .8vh 1vw;
    flex-basis: 25%;
}
.sponsors-bronze a:hover {
    cursor: pointer;
}
.sponsors-bronze img:hover {
    cursor: pointer;
}
.sponsors-bronze img {
    height: auto;
    width: 15%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.sponsors-label{
  padding-top: 0%;
}
#sponsors-bronze-label {
    color: #c58753;
}
.schedule   {
    width: 100%;
    text-align: center;
}
.schedule table {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    text-align: left;
    font-size: 37px;
    border: none;
    border-collapse: collapse;
    background-color: #FFF0EA;
}
td  {
    padding: 2vh 1.5vw;
}
tr, th, td  {
    border: none;
    background-color: #332557;
}
.table_heading  {
    border-bottom: 2px solid #FFF0EA;
    padding: 1vh 2vw;
}
.section-heading {
    font-family: 'Press Start 2P', cursive;
    font-size: 5vh;
    line-height: 1;
    text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
    letter-spacing: 0.125em;
    animation-duration: 0.01s;
    animation-name: textflicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#about-heading {
  color: #EB677B;
}
#schedule-heading {
  color: #86A8BD;
}
#faq-heading {
  color: #FAC3A2;
}
#sponsors-heading {
  color: #F79586;
}
#team-heading {
  color: #4F7C8F;
}
.fab, .fas {
    color: #FFF0EA;
}

.body-border {
  border-width: 2px;
  width: 90%;
  border-color: #FFF0EA;
}
.colored > .sponsors-h2{
  color: #FAC3A2;
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
   header {
        width: 100%;
        background: linear-gradient(#2c292d44, #332557), url('../media/old_header.jpg');
        background-attachment: scroll;
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: cover;
        position:static;
    }
     .main-container {
        padding-top: 3vh;
        height: 90vh;
        width: 100%;
        margin: 0px auto;
        padding: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .logo-normal    {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .flexbox {
        flex-direction: column;
    }
    .flex-img   {
        width: 40%;
    }
    .flex-info  {
        text-align: center;
        width: 100%;
        padding: 0px;
    }
    .main-container p   {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 180%;
    }
    .main-container li  {
        padding: 0px;
    }
    header > p {
        width: 100%;
        font-size: 5vh;
        margin-top: 5vh;
        text-align: center;
    }
    .body-container {
        display: flex;
        flex-direction: column;
    }
    #about {
        padding: 0% 10% 5%;
    }
    .faq    {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .faq > div > p {
        font-size: 2.05vw;
    }
    .faq-container  {
        display: inline-flex;
        flex-wrap: wrap;
        width: 85%;
        margin: auto;
        padding-bottom: 5vh;
    }
    h1 {
        text-align: center;
        font-size: 5vh;
        padding-top: 10%;
    }
    p {
        font-size: 3vh;
        color: #FFF0EA;
    }
    .about-img  {
        width: 100%;
    }
    .team   {
        width: 100%;
    }
    .team > div {
        width: 60%;
        margin: 1vw;
    }
    .sponsors-gold {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .sponsors-plat img   {
        width: 100%;
    }
    .sponsors-plat {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .sponsors-gold img   {
        width: 100%;
    }
    .sponsors-silver {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .sponsors-silver img   {
        width: 100%;
    }
    .sponsors-bronze {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .sponsors-bronze img   {
        width: 100%;
    }
}
@media only screen and (max-width : 767px){
    nav {
        display: none;
    }
    header {
        width: 100%;
        background: linear-gradient(#2c292d44, #332557), url('../media/old_header.jpg');
        background-attachment: scroll;
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: cover;
        position:static;
    }
     .main-container {
        padding-top: 3vh;
        height: 90vh;
        width: 100%;
        margin: 0px auto;
        padding: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .logo-normal    {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .flexbox {
        flex-direction: column;
    }
    .flex-img   {
        width: 70%;
    }
    .flex-info  {
        text-align: center;
        width: 97%;
        padding: 0px;
    }
    .main-container p   {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 180%;
    }
    .main-container li  {
        padding: 0px;
    }
    header > p {
        width: 100%;
        font-size: 5vh;
        margin-top: 5vh;
        text-align: center;
    }
    .body-container {
        display: flex;
        flex-direction: column;
    }
    #about {
        padding: 0% 5% 5%;
    }
    .faq{
        display: block;
        width: 100%;
        margin: 0px;
    }
    .faq-container  {
        display: inline-flex;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
        padding-bottom: 5vh;
        padding: 0px;
    }
    .faq > div > p {
        font-size: 3.75vw;
    }
    h1 {
        text-align: center;
        font-size: 5vh;
        padding-top: 10%;
    }
    p {
        font-size: 3vh;
        color: #FFF0EA;
    }
    .about-img  {
        width: 100%;
    }
    .team > div {
        width: 80%;
        margin: 1vw;
    }
    .sponsors {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .sponsors img   {
        width: 100%;
    }
}

.scroll-wrapper {
    overflow-x: auto;
    margin-left: 5%;
    margin-right: 5%;
}

nav a:link{
    text-decoration: none;
    color: #FFF0EA;
}
nav a:visited{
    color: #FFF0EA;
}
nav a:hover{
    animation: blink 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1, jump-none);
    cursor: pointer;
}
#blink {
    animation: blink 0.4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1, jump-none);
}
@keyframes blink {
    from {opacity:0}
    to {opacity:1}
}
.button:hover, button:hover {
    box-shadow: 0.5rem 0.5rem 0 #160f27;
    transform: translate(-0.5rem, -0.5rem);
}
.button:active, button:active {
    box-shadow: 0 0 0 #160f27;
    transform: translate(0, 0);
}
.disabled {
    color: white;
    cursor: not-allowed;
    opacity: 0.75;
    text-decoration: none;
    pointer-events: none;
}
@keyframes textflicker {
    from {
      text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
    }
    to {
      text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
    }
}
.colorsquare1 {
    background-color:#EB677B;
    color:#EB677B;
}
.colorsquare2 {
    background-color:#86A8BD;
    color:#86A8BD;
}
.colorsquare3 {
    background-color:#FAC3A2;
    color:#FAC3A2;
}
.colorsquare1, .colorsquare2, .colorsquare3 {
    width:30px;
    height:30px;
    padding-left: 9px;
    margin: 5px 5px;
}

